{{#if flash.action.message}}
  <div class="flash-component header--custom-secondary-background header--custom-text">
    <h3 class="flash-component__text header--custom-secondary-text">
      {{{flash.message}}}
    </h3>
    {{#if flash.action}}
      <a
        class="flash-component__link"
        href="{{flash.action.href}}"
        target="{{flash.action.target}}"
        rel="{{flash.action.rel}}"
      >
        {{flash.action.message}}
      </a>
    {{/if}}
  </div>
{{else if flash.action.href}}
  <a
    class="flash-component__link-wrapper"
    href="{{flash.action.href}}"
    target="{{flash.action.target}}"
    rel="{{flash.action.rel}}"
  >
    <div class="flash-component header--custom-secondary-background header--custom-text">
      <h3 class="flash-component__text header--custom-secondary-text">
        {{{flash.message}}}
      </h3>
    </div>
  </a>
{{else}}
  <div class="flash-component header--custom-secondary-background header--custom-text">
    <h3 class="flash-component__text header--custom-secondary-text">
      {{{flash.message}}}
    </h3>
  </div>
{{/if}}

